<div class="row">
  <div class="col-lg-4">
    <h1 id="sentiment-score" class="{{color-sentiment sentimentScore}}">
      {{format-sentiment sentimentScore}}
    </h1>
  </div>
  <div class="col-lg-8 sentiment-words">
    <h3 id="sentiment-title">Sentiment Score</h3>
    <p id="sentiment-desc">
      <em>
        Sentiment scores are calculated by analyzing the 500 most recent 
        tweets. The number above is the average sentiment of the 500 analyzed 
        tweets.
      </em>
    </p>
  </div>
</div>



