<div class="row">
  <div class="col-lg-3">
    <h1 id="sentiment-score">{{format-sentiment sentimentScore}}</h1>
  </div>
  <div class="col-lg-9">
    <h3 id="sentiment-title">Sentiment Score</h3>
    <p id="sentiment-desc">
      <em>
        Sentiment scores are calculated by analyzing the 500 most recent 
        tweets. Each word in the tweet is given a sentiment score and summed 
        to get the tweet's sentiment. The number above is the average 
        sentiment of the 500 analyzed words.
      </em>
    </p>
  </div>
</div>



