body {
  background-color: #012531;
  padding-bottom: 20px;
}
.map-view-box {
  background-color: #012531;
  height: 500px;
}

.tweets-list-box {
  height: 330px;
  padding: 0;
}

.row {
  margin: 0;
}

/*------------------------NAVBAR---------------------------*/

#site-title {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 200;
}

.dataset-nav-box {
  margin-right: -20px;
}

.dataset-nav {
  margin-left: -10px;
  margin-right: -30px;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #002D3D;
}

.navbar .navbar-inner {
  padding: 0;
}

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}

.navbar .nav li {
  display: table-cell;
  width: auto;
  float: none;
}

.navbar .nav li a {
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  border-left: 5px solid #012531;
  border-right: 1px solid #012531;
  padding: 20px 0;
}

.navbar .nav li a.active {
  background-color: #012531;
  font-weight: 400;
}

.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

/*------------------------MAP---------------------------*/

#map {
  margin-left: -10px;
  margin-top: 80px;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
  stroke: #012531;
  stroke-width: 0.3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feature.active {
}

.map-q0 { fill: #ffffe5; }
.map-q1 { fill: #f7fcb9; }
.map-q2 { fill: #d9f0a3; }
.map-q3 { fill: #addd8e; }
.map-q4 { fill: #78c679; }
.map-q5 { fill: #41ab5d; }
.map-q6 { fill: #238443; }
.map-q7 { fill: #006837; }
.map-q8 { fill: #004529; }

/*------------------------SENTIMENT---------------------------*/

.sentiment-analysis-box {
  background-color: #002D3D;
  border: 1px solid #00222F;
  border-radius: 3px;
  height: 130px;
  padding: 15px 0px;
}

.sentiment-words {
  padding: 0 35px 0 15px;
}

#sentiment-desc {
  font-size: 10px;
  text-align: center;
  color: white;
}

#sentiment-title {
  text-align: center;
  margin-top: 5px;
  color: white;
  font-weight: 200;
  letter-spacing: 3px;
}

#sentiment-score {
  font-size: 55px;
  margin-top: 15px;
  text-align: right;
  font-weight: 800;
}

.neg-sentiment {
  color: #A62A2A;
}

.pos-sentiment {
  color: #458B00;
}

/*------------------------TWEETS---------------------------*/

.tweet-box {
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #00222F;
  border-radius: 3px;
  background-color: #002D3D;
}

.tweet-box p {
  font-size: 13px;
  color: white;
}

.twitter-handle {
  font-weight: 800;
}

.tweet-pic {
  margin-top: 5px;
  margin-left: 10px;
}

.tweet-text {
  margin-left: -10px;
}
