<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <h2>UsaUsa-Ember</h2>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Poverty<span class="sr-only">(current)</span></a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Marriage</a></li>
      <li><a href="#">Migration</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
