<div class="container-fluid">
  <h2>UsaUsa-Ember</h2>
  <div class="row">
    <div class="col-lg-8">
      <nav class="navbar navbar-default navbar-top">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'dataset' 'poverty'}}Poverty{{/link-to}}</li>
          <li>{{#link-to 'dataset' 'education'}}Education{{/link-to}}</li>
          <li>{{#link-to 'dataset' 'marital'}}Marital{{/link-to}}</li>
          <li>{{#link-to 'dataset' 'migration'}}Migration{{/link-to}}</li>
        </ul>
      </nav>
    </div>
  </div>

  {{outlet}}
</div>
