<div class="container-fluid">
  <div class="row dataset-nav-row">
    <div class="col-lg-8 dataset-nav-box">
      <nav class="dataset-nav navbar navbar-default navbar-top">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'dataset' 'poverty'}}Poverty{{/link-to}}</li>
          <li>{{#link-to 'dataset' 'education'}}Education{{/link-to}}</li>
          <li>{{#link-to 'dataset' 'marital'}}Marriage{{/link-to}}</li>
          <li>{{#link-to 'dataset' 'migration'}}Migration{{/link-to}}</li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4">
      <h2 id="site-title">Usa Usa</h2>
    </div>
  </div>

  {{outlet}}
</div>
