<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <h2>UsaUsa-Ember</h2>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'dataset' 'poverty'}}Poverty{{/link-to}}</li>
      <li>{{#link-to 'dataset' 'eduction'}}Education{{/link-to}}</li>
      <li>{{#link-to 'dataset' 'marriage'}}Marriage{{/link-to}}</li>
      <li>{{#link-to 'dataset' 'migration'}}Migration{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
