<div class="row">
  <div class="col-lg-8 map-view-box">
    {{map-view data=data dataset=model.dataset dataInfo=model.dataInfo}}
  </div>
  <div class="col-lg-4">
    <div class="row sentiment-analysis-box">
      {{sentiment-analysis sentimentScore=sentimentScore}}
    </div>
    <div class="row tweets-list-box">
      {{tweets-list tweets=tweets}}
    </div>
  </div>
</div>
